HardwareSetupTest/nodeRED/basicFlow.json
[{"id":"c34c02f7.7a29e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"673ea466.baa7ac","type":"arduino in","z":"c34c02f7.7a29e","name":"LDR","pin":"0","state":"ANALOG","arduino":"69c24bd9.202974","x":273,"y":340,"wires":[["ef16c92c.9d9948"]]},{"id":"ef16c92c.9d9948","type":"delay","z":"c34c02f7.7a29e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":546,"y":274,"wires":[["8c221c77.90f2a"]]},{"id":"b26dc649.ec21d8","type":"arduino in","z":"c34c02f7.7a29e","name":"PIR","pin":"4","state":"INPUT","arduino":"69c24bd9.202974","x":273,"y":429,"wires":[["a9ba6ec4.4b37a"]]},{"id":"a9ba6ec4.4b37a","type":"delay","z":"c34c02f7.7a29e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":541,"y":469,"wires":[["8c221c77.90f2a"]]},{"id":"8c221c77.90f2a","type":"function","z":"c34c02f7.7a29e","name":"Concatenate","func":"\ncontext.ldr = context.ldr || 0.0;\ncontext.pir = context.pir || 0;\n\nif (msg.topic === 'A0') {\n  context.ldr = msg.payload;\n} else if (msg.topic === '4') {\n  context.pir = msg.payload;\n}\n\nmsg = {\n    payload: {\n        \"Light Sensor Value\" : context.ldr,\n        \"PIR Sensor Value\" : context.pir\n    }\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":824,"y":364,"wires":[["1af5158b.b4076a"]]},{"id":"1af5158b.b4076a","type":"debug","z":"c34c02f7.7a29e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1083,"y":365,"wires":[]},{"id":"c4eac0a.64f4d4","type":"arduino out","z":"c34c02f7.7a29e","name":"","pin":"9","state":"PWM","arduino":"69c24bd9.202974","x":885,"y":605,"wires":[]},{"id":"69797504.2e6fdc","type":"inject","z":"c34c02f7.7a29e","name":"","topic":"lamp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":277,"y":623,"wires":[["836c6085.5c38b"]]},{"id":"836c6085.5c38b","type":"function","z":"c34c02f7.7a29e","name":"change","func":"msg.payload = Math.round((msg.payload/100) % 250)\nreturn msg; ","outputs":1,"noerr":0,"x":561,"y":747,"wires":[["c4eac0a.64f4d4"]]},{"id":"69c24bd9.202974","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]