HardwareSetupTest/nodeRED/completeFlow.json
[{"id":"9b13cf71.52c77","type":"arduino in","z":"fa19aea4.2db73","name":"LDR","pin":"0","state":"ANALOG","arduino":"2cb45835.e73e38","x":244,"y":182,"wires":[["5f3e9e3d.f4a85"]]},{"id":"7be0afd1.50a1f","type":"arduino in","z":"fa19aea4.2db73","name":"MIC","pin":"12","state":"INPUT","arduino":"2cb45835.e73e38","x":241,"y":275,"wires":[["5af4a4fd.2792ec"]]},{"id":"5af4a4fd.2792ec","type":"switch","z":"fa19aea4.2db73","name":"Check Noise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":415.5,"y":275,"wires":[["15a1b5cb.0f592a"],["740d9d6b.18d144"]]},{"id":"740d9d6b.18d144","type":"delay","z":"fa19aea4.2db73","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":519,"y":345,"wires":[["15a1b5cb.0f592a"]]},{"id":"5aadde67.77b46","type":"arduino out","z":"fa19aea4.2db73","name":"Lamp","pin":"9","state":"PWM","arduino":"2cb45835.e73e38","x":778,"y":339,"wires":[]},{"id":"5f3e9e3d.f4a85","type":"delay","z":"fa19aea4.2db73","name":"5 Sec Interval","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":542.5,"y":184,"wires":[["15a1b5cb.0f592a"]]},{"id":"1b65ea5a.41f986","type":"function","z":"fa19aea4.2db73","name":"turnLight","func":"if(msg.payload.LightSensorVal>600){\n    msg.payload=0;\n}\nelse if (msg.payload.MICSensorVal===1){\n    msg.payload=120;\n}\nelse{\n    msg.payload=250;   \n}\nreturn msg;","outputs":1,"noerr":0,"x":782,"y":181,"wires":[["acac8f2b.fb4f4","5aadde67.77b46"]]},{"id":"15a1b5cb.0f592a","type":"function","z":"fa19aea4.2db73","name":"Concatenate","func":"\ncontext.ldr = context.ldr || 0.0;\ncontext.mic = context.mic || 0;\n\nif (msg.topic === 'A0') {\n  context.ldr = msg.payload;\n} else if (msg.topic === '12') {\n  context.mic = msg.payload;\n}\n\n\nmsg = {\n    payload: {\n        \"LightSensorVal\" : context.ldr,\n        \"MICSensorVal\" : context.mic\n    }\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":665,"y":261,"wires":[["1b65ea5a.41f986"]]},{"id":"acac8f2b.fb4f4","type":"debug","z":"fa19aea4.2db73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1018,"y":213,"wires":[]},{"id":"2cb45835.e73e38","type":"arduino-board","z":"","device":"/dev/ttyACM1"}]
