deviceMonitorOnEth/source/flows/updateDataFlow.json
[{"id":"65bcc067.1a584","type":"arduino in","z":"5bd4b9d2.c30ec8","name":"LDR","pin":"0","state":"ANALOG","arduino":"c8f8276b.ce52c8","x":146.8958282470703,"y":178,"wires":[["242bcb49.48fd34"]]},{"id":"ebd7cc48.95a0a","type":"arduino in","z":"5bd4b9d2.c30ec8","name":"PIR","pin":"4","state":"INPUT","arduino":"c8f8276b.ce52c8","x":146.8958282470703,"y":267,"wires":[["242bcb49.48fd34"]]},{"id":"242bcb49.48fd34","type":"function","z":"5bd4b9d2.c30ec8","name":"Concatenate","func":"\ncontext.ldr = context.ldr || 0.0;\ncontext.pir = context.pir || 0;\n\nif (msg.topic === 'A0') {\n  context.ldr = msg.payload;\n} else if (msg.topic === '4') {\n  context.pir = msg.payload;\n}\n\nmsg = {\n    payload: {\n        \"Light Sensor Value\" : context.ldr,\n        \"PIR Sensor Value\" : context.pir\n    }\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":419.8958282470703,"y":218.0000114440918,"wires":[["5d86658d.a2d49c"]]},{"id":"4b238c41.9eac34","type":"function","z":"5bd4b9d2.c30ec8","name":"updateSensorData","func":"var Web3 = global.get('web3');\nvar abi = \"ABIOFCONTRACT\" ; // SMART CONTRACT ABI GOES HERE ; \nvar main_account = \"ACCOUNTADDRESS\";// YOUR ACCOUNT;\n\nvar  web3;\n//web3.js, checking if node is running\nweb3 = new Web3(new Web3.providers.HttpProvider(\"http://localhost:8000\"));\nif (!web3.isConnected()) {\n    msg.payload = \"node not connected\";\n    return msg;\n} \nvar deviceMonitor = web3.eth.contract(abi).at(\"_______\"); // deployed contract address\nvar password = \"ACCOUNTPASSWORD\"; // your password\nweb3.personal.unlockAccount(main_account,password,30); \n\n\nvar retcont = deviceMonitor.updateSensorData(msg.payload.LightSensorVal, msg.payload.SoundSensorVal); // Parameters\nmsg.payload=retcont;\n\nreturn msg;","outputs":1,"noerr":0,"x":706.6076612472534,"y":347.5451560020447,"wires":[["4f321a94.8f2cc4"]]},{"id":"5d86658d.a2d49c","type":"delay","z":"5bd4b9d2.c30ec8","name":"15 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":609.6111402511597,"y":150.96529150009155,"wires":[["4b238c41.9eac34"]]},{"id":"4f321a94.8f2cc4","type":"debug","z":"5bd4b9d2.c30ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":809.7152709960938,"y":230.4583568572998,"wires":[]},{"id":"c8f8276b.ce52c8","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]